body {
	background-color: #ccff99;
}

h1 {
	color: #cc0000;
	margin: auto;
	text-align: center;
}

div {
/*	height: 400px;
	width: 400px; */
	color: #66CCff;
}

p {
	color: #0000cc;
	text-align: center;
}
